In [50]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [51]:
spark = SparkSession.builder\
                    .master("local")\
                    .appName("count_word")\
                    .getOrCreate()

24/04/04 10:04:55 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/04/04 10:04:55 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [52]:
df = spark.read.format("text")\
                .load("example.txt")
                
df.show()

+--------------+
|         value|
+--------------+
|chaitanya, hi |
|     i am good|
+--------------+

In [54]:
df_word = df.withColumn("word", split(col("value"), " "))
df_word.show()
df_word.count()

+--------------+------------------+
|         value|              word|
+--------------+------------------+
|chaitanya, hi |[chaitanya,, hi, ]|
|     i am good|     [i, am, good]|
+--------------+------------------+

2

In [55]:
df_count = df_word.withColumn("numbers", size(col("word")))
df_count.show()

+--------------+------------------+-------+
|         value|              word|numbers|
+--------------+------------------+-------+
|chaitanya, hi |[chaitanya,, hi, ]|      3|
|     i am good|     [i, am, good]|      3|
+--------------+------------------+-------+

In [6]:
df_total_words = df_count.agg(sum(col("numbers"))).collect()
print(df_total_words)

[Row(sum(numbers)=8)]

In [36]:
df_total_words = df_count.agg(sum(col("numbers"))).collect()[0]
print(df_total_words)

Row(sum(numbers)=8)

In [37]:
df_total_words = df_count.agg(sum(col("numbers"))).collect()[0][0]
print(df_total_words)

8

In [40]:
df_total_words = df_count.agg(sum(col("numbers"))).show()

+------------+
|sum(numbers)|
+------------+
|           8|
+------------+

In [60]:
# total number of words in the text file
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

spark = SparkSession.builder.master("local").appName("test").getOrCreate()

df = spark.read.format("text").load("example.txt")
df.show()
df1 = df.withColumn("words", split("value", " "))\
        .withColumn("filter1", filter("words", lambda x: x != ","))\
        .withColumn("count", size(col("words")))\
        .withColumn("count_filter", size(col("filter1")))
df1.show()      
df3 = df1.agg(sum("count"))
df3.show(truncate=False)
print(df3.collect()[0][0])
spark.stop()

24/04/04 10:07:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/04/04 10:07:22 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

+--------------+
|         value|
+--------------+
|chaitanya , hi|
|     i am good|
+--------------+

+--------------+------------------+---------------+-----+------------+
|         value|             words|        filter1|count|count_filter|
+--------------+------------------+---------------+-----+------------+
|chaitanya , hi|[chaitanya, ,, hi]|[chaitanya, hi]|    3|           2|
|     i am good|     [i, am, good]|  [i, am, good]|    3|           3|
+--------------+------------------+---------------+-----+------------+

+----------+
|sum(count)|
+----------+
|6         |
+----------+

6

24/04/04 09:47:46 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/04/04 09:47:46 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

+--------------------+
|               value|
+--------------------+
|hi my name is cha...|
|           i am good|
+--------------------+

Total number of words in the text file: 11

In [ ]:
x

24/04/04 09:22:42 WARN Utils: Your hostname, debian resolves to a loopback address: 127.0.1.1; using 192.168.1.38 instead (on interface wlp0s20f3)
24/04/04 09:22:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/04/04 09:22:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/04 09:22:44 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+---+---+------+
| id|age|height|
+---+---+------+
|  q|  1|     2|
|  b|  3|     4|
+---+---+------+

[1, 3, 5, 7, 9]

3

doggy 18

In [34]:
# # Example using break statement
# numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# # for num in numbers:
# #     if num == 5:
# #         break  # Exit the loop when num equals 5
# #     print(num)

# # # Output: 1 2 3 4

# # Example using continue statement
# for num in numbers:
#     if num % 2 == 0:
#         continue  # Skip even numbers
#     print(num)

# Output: 1 3 5 7 9

# for i in ['y','o','g','e','s','h']:
#     if i == 'q':
#         print (i,"dumb yogesh")
#     else:
#         print ("yogesh is brillient")

yogesh is brillient
yogesh is brillient
yogesh is brillient
yogesh is brillient
yogesh is brillient
yogesh is brillient

In [22]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}