In [26]:
# from pyspark.sql import SparkSession
# from pyspark.sql.types import *
# from pyspark.sql.functions import *

# spark = SparkSession.builder.appName("scd2").getOrCreate()

# df = spark.read.format("csv").option("mode","permissive").option("header",True).load("data.csv") 
# df.show()

# update_df = spark.read.format("csv").option("mode","permissive").option("header",True).load("data_update.csv") 
# update_df.show()
# joining_df = df.join(update_df, col("df.ID") == col("update_df.ID"), how="left")
# joining_df.show()


from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("scd2").getOrCreate()

# Load DataFrames
df = spark.read.format("csv").option("mode", "permissive").option("header", True).load("data.csv")
update_df = spark.read.format("csv").option("mode", "permissive").option("header", True).load("data_update.csv")

# Perform left join with correct join condition
joining_df = df.alias("d").join(update_df.alias("u"), col("d.ID") == col("u.ID1"), how="left")
joining_df.show()

+---+---------+-------------+---------+----+-------+--------------+
| ID|     Name|Creation_Date|Is_Active| ID1|  Name1|Creation_Date1|
+---+---------+-------------+---------+----+-------+--------------+
|  1|     John|   2023-05-10|        1|   1|   John|    2024-04-10|
|  2|    Alice|   2022-08-20|        0|   2|  Alice|    2024-04-10|
|  3|  Michael|   2022-12-15|        1|   3|Michael|    2024-04-10|
|  4|    Emily|   2023-02-28|        1|   4|  Emily|    2024-04-10|
|  5|    David|   2023-04-05|        0|   5|  David|    2024-04-10|
|  6|    Sarah|   2022-10-30|        1|   6|  Sarah|    2024-04-10|
|  7|    James|   2023-01-18|        0|   7|  James|    2024-04-10|
|  8|   Sophia|   2023-03-22|        1|   8| Sophia|    2024-04-10|
|  9|    Ethan|   2022-11-05|        0|null|   null|          null|
| 10|     Emma|   2023-06-08|        1|null|   null|          null|
| 11|     Liam|   2023-09-14|        0|null|   null|          null|
| 12|   Olivia|   2023-10-25|        1|null|   null|          null|
| 13|     Noah|   2023-12-01|        1|null|   null|          null|
| 14|      Ava|   2023-07-03|        0|null|   null|          null|
| 15|  William|   2023-08-11|        1|null|   null|          null|
| 16| Isabella|   2023-11-19|        1|null|   null|          null|
| 17|    James|   2022-09-22|        0|null|   null|          null|
| 18|    Grace|   2022-10-01|        1|null|   null|          null|
| 19|Alexander|   2022-12-10|        0|null|   null|          null|
| 20|   Sophie|   2023-02-18|        1|null|   null|          null|
+---+---------+-------------+---------+----+-------+--------------+
only showing top 20 rows

In [32]:
new_record_df = joining_df.filter((col("Creation_Date") != col("Creation_Date1")) & (col("Is_Active") == 1))\
                            .withColumn("Is_Active", lit(1))\
                            .withColumn("Creation_Date",col("Creation_Date1"))\
                            .withColumn("Creation_Date1", lit(None))\
                            .select("ID","Name","Creation_Date","Is_Active")
new_record_df.show()

+---+-------+-------------+---------+
| ID|   Name|Creation_Date|Is_Active|
+---+-------+-------------+---------+
|  1|   John|   2024-04-10|        1|
|  3|Michael|   2024-04-10|        1|
|  4|  Emily|   2024-04-10|        1|
|  6|  Sarah|   2024-04-10|        1|
|  8| Sophia|   2024-04-10|        1|
+---+-------+-------------+---------+

In [34]:
add_record_df = update_df.alias("u").join(df.alias("d"), col("u.ID1") == col("d.ID"), "left_anti")
add_record_df.show()

+---+-----+--------------+
|ID1|Name1|Creation_Date1|
+---+-----+--------------+
|200|radha|    2024-04-10|
+---+-----+--------------+

+---+-------+-------------+
| ID|   Name|Creation_Date|
+---+-------+-------------+
|  1|   John|   2024-04-10|
|  2|  Alice|   2024-04-10|
|  3|Michael|   2024-04-10|
|  4|  Emily|   2024-04-10|
|  5|  David|   2024-04-10|
|  6|  Sarah|   2024-04-10|
|  7|  James|   2024-04-10|
|  8| Sophia|   2024-04-10|
|  9|  Ethan|   2024-04-10|
+---+-------+-------------+

In [31]:
class Animal:
    def sound(self):
        print("making sound")
        
class parrot():
    def sound(self):
        print(" parrot making sound")
        
class Dog():
    def sound(self):
        print("dog making sound")
        
class Cat(Dog, parrot):
    def sound(self):
        super().sound()  # Call sound() method of Dog class
        # super(Dog, self).sound()  # Call sound() method of Animal class
        # print("cat making sound")
        
pet1 = Dog()
cat1 = Cat()

cat1.sound()

dog making sound

In [1]:
class Animal:
    def sound(self):
        print("making sound")
        
class parrot(Animal):
    def sound(self):
        print("parrot making sound")
        
class Dog(Animal):
    def sound(self):
        print("dog making sound")
        
class Cat(Dog, parrot):
    def sound(self):
        Dog().sound()  # Call sound() method of Dog class
        parrot().sound()  # Call sound() method of parrot class
        super(Dog, self).sound()

pet1 = Dog()
cat1 = Cat()

cat1.sound()

dog making sound
parrot making sound
parrot making sound

9
8
7
6
5
4
3
2
1
0

False