In [7]:
s= "qA2"
print(s.isdigit())

False

In [5]:
def check(strings):
    if strings.isalnum():
        print(True)
    else:
        print(False)
    if strings.isalpha():
        print(True)
    else:
        print(False)
    if strings.isdigit():
        print(True)
    else:
        print(False)
    if strings.islower():
        print(True)
    else:
        print(False)
    if strings.isupper():
        print(True)
    else:
        print(False)
        
if __name__ == '__main__':
    check(s)

True
False
False
False
False

In [30]:
from datetime import datetime as dt, timedelta as td

current_date = dt.now()
print(current_date)
print(current_date.month)
print(current_date.day)
print(current_date.year)

date = current_date + td(days=50)
print(date, "date")
days_in_month =  (current_date.replace(day=1))
print((date.replace(day=1) + td(days=32)).replace(day=1))

weekdays = current_date + td(days=7)
starting_day_of_week = date.replace(day=1).weekday()

monday = current_date.weekday()
print("monday",monday)
start_of_week = current_date -td(days = monday)
print("start_of_week", start_of_week)

end_of_week = start_of_week + td(days=6)
print(end_of_week)

2023-12-01 23:48:03.672656
12
1
2023
2024-01-20 23:48:03.672656 date
2024-02-01 23:48:03.672656
monday 4
start_of_week 2023-11-27 23:48:03.672656
2023-12-03 23:48:03.672656

In [16]:
print(td(days=32).replace(day=1))

AttributeError: 'datetime.timedelta' object has no attribute 'replace'

In [7]:
n = 12
print(f"{n:b},' ',{n:o},' ',len{n:x}, {n:.1f} ")

1100,' ',14,' ',c, 12.000000

In [16]:
n = 12.63333
print(f'{n:.2f}, {int(n)}, {round(n,0)}')

12.63, 12, 13.0

In [57]:
text = "Hello"
print(type(text))

# Left justify with padding on the right
left_padded = text.ljust(10)
print("Left Padded:", left_padded)

# Right justify with padding on the left
right_padded = text.rjust(10, ' ')
print("Right Padded:", right_padded)

# Center align with padding on both sides
centered = text.center(15, '#')
print("Centered:", centered)

<class 'str'>
Left Padded: Hello
Right Padded:      Hello
Centered: #####Hello#####

In [34]:
n = 11
hexa = 
print(hexa)

b

In [53]:
n = 11
binary = bin(n)[2:]
octal = oct(n)[2:]
hexa = hex(n)[2:]
print(binary, len(binary),"\n",octal, len(octal),"\n",hexa, len(hexa))

1011 4
 13 2
 b 1

In [67]:
def print_formatted(number):
    pad = len(bin(number)[2:])
    print(pad)
    for i in range(1,number+1):
        print(f'{str(i).rjust(pad)} {str(oct(i)[2:]).rjust(pad)} {str(hex(i)[2:]).capitalize().rjust(pad)} {str(bin(i)[2:]).rjust(pad)}')
            


if __name__ == '__main__':
    n = int(input())
    print_formatted(n)

6
     1      1      1      1
     2      2      2     10
     3      3      3     11
     4      4      4    100
     5      5      5    101
     6      6      6    110
     7      7      7    111
     8     10      8   1000
     9     11      9   1001
    10     12      A   1010
    11     13      B   1011
    12     14      C   1100
    13     15      D   1101
    14     16      E   1110
    15     17      F   1111
    16     20     10  10000
    17     21     11  10001
    18     22     12  10010
    19     23     13  10011
    20     24     14  10100
    21     25     15  10101
    22     26     16  10110
    23     27     17  10111
    24     30     18  11000
    25     31     19  11001
    26     32     1a  11010
    27     33     1b  11011
    28     34     1c  11100
    29     35     1d  11101
    30     36     1e  11110
    31     37     1f  11111
    32     40     20 100000
    33     41     21 100001
    34     42     22 100010
    35     43     23 100011
    36     44     24 100100
    37     45     25 100101
    38     46     26 100110
    39     47     27 100111
    40     50     28 101000
    41     51     29 101001
    42     52     2a 101010
    43     53     2b 101011
    44     54     2c 101100
    45     55     2d 101101
    46     56     2e 101110
    47     57     2f 101111
    48     60     30 110000
    49     61     31 110001
    50     62     32 110010
    51     63     33 110011
    52     64     34 110100
    53     65     35 110101
    54     66     36 110110
    55     67     37 110111
    56     70     38 111000
    57     71     39 111001
    58     72     3a 111010
    59     73     3b 111011
    60     74     3c 111100
    61     75     3d 111101
    62     76     3e 111110
    63     77     3f 111111

In [ ]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Specify the custom delimiters
custom_delimiters = [",", ";", "|"]

# Specify the file path

# Read the file with multiple delimiters
df = spark.read.option("delimiter", custom_delimiters).csv(file_path)

# Show the DataFrame
df.show()